:root {
  --primary-color: #3e4a59;
  --secondary-color: #bcc6c1;
  --text-color: #3e4a59;
  --background-color: #f9f9f7;
  --font-family: 'Montserrat', sans-serif;
  --nav-font-family: 'Tenor Sans', sans-serif;
  --nav-height: 72px;
  --footer-height: 110px;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

.cta-button {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #2f3945;
}

@media (max-width: 768px) {
  :root {
    --nav-height: 58px;
    --footer-height: 96px;
  }

  .info-content,
  .contact-content {
    flex-direction: column;
  }
}